/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: var(--bg-img-page);
  background-color: var(--bg-color-page);
  background-attachment: fixed;
  background-size: cover;
  min-inline-size: 375px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-content {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  flex-direction: column;
  padding: var(--header-padding);
  margin: 100px 0px;
  gap: 20px;
  min-height: clamp(20.4375rem, 19.285rem + 4.913vw, 23rem);
  max-width: var(--content-width);
  border: var(--brdr-width) solid var(--brdr-color);
}

.header__descriprion {
  line-height: 1;
  text-align: center;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-family: var(--font-family-accent), fantasy;
}

.header__title {
  line-height: 1;
  text-align: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--font-family-accent), fantasy;
}

.main-content {
  gap: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section__title {
  padding: 4px 10px 6px;
  border: var(--brdr-width) solid var(--brdr-color);
  font-size: var(--title-font-size);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--bold-font-weight);
  z-index: 10;
}

.section {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border: var(--brdr-width) solid var(--brdr-color);
  min-height: clamp(20.4375rem, 19.285rem + 4.913vw, 23rem);
  max-width: var(--content-width);
}

.section__image {
  border: var(--brdr-width) solid var(--brdr-color);
  width: 100%;
}

.card__img-label {
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--bg-color),
  -1px 0 0 var(--bg-color),
  0 1px 0 var(--bg-color),
  0 -1px 0 var(--bg-color);
  line-height: normal;
  font-size: 14px;
  font-family: var(--font-family-accent), fantasy;
  color: var(--color-primary);
  opacity: 0.6;
  z-index: 2;
  position: absolute;
}

.card__img-wrapper {
  overflow: hidden;
  position: relative;
}

@supports (
  (-webkit-text-stroke: 1px var(--color-label-stroke)) or
  (text-stroke: 1px var(--color-label-stroke))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-label-stroke);
    text-stroke: 1px var(--color-label-stroke);
  }
}

.content__text {
  line-height: 21px;
  font-size: var(--text-font-size-);
  font-weight: var(--text-font-weight);
  font-family: var(--font-family-main), sans-serif;
}

.block__text {
  padding: 25px;
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.button__block {
  gap: 12px;
  display: flex;
  padding: 0 25px 25px clamp(11.0625rem, 10.169rem + 3.811vw, 31.375rem);
  justify-content: flex-end;
  flex-direction: row;
}

.section:nth-child(2) .section__image {
	filter: grayscale(0.5);
}

.section:nth-child(3) .section__image {
	filter: saturate(4.5);
}

.section:nth-child(4) .section__image {
	filter: hue-rotate(50deg);
}

.section:nth-child(5) .section__image {
	filter: invert(1) brightness(0.9);
}

.section:nth-child(6) .section__image {
	filter: sepia(1);
}

.section:nth-child(7) .section__image {
	filter: blur(5px);
}

.section:nth-child(8) .section__image {
	filter: hue-rotate(90deg) opacity(0.7) blur(2px);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  border: var(--brdr-width-btn) solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border-color var(--transition-smooth);
}

.card__icon-button:focus-visible {
  border-color: var(--txt-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  width: 130px;
  height: 38px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px 17px;
  border: var(--brdr-width) solid var(--txt-color);
  background: var(--bg-color-page);
  cursor: pointer;
}

.like-icon {
  padding: 0;
}

.save__section {
  margin-bottom: 100px;
}

.button__text {
  z-index: 1;
  position: relative;
  align-self: center;
}

.button__icon {
  inline-size: 22px;
  block-size: 22px;
}

.save__button {
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 15px 21px 15px 19px;
  font-size: 14px;
  position: relative;
  gap: 8px;
  display: flex;
  margin-bottom: 100px;
  border: var(--brdr-width) solid var(--txt-color);
  color: var(--btn-txt-color);
  font-family: var(--font-family-accent), sans-serif;
  overflow: hidden;
  z-index: 1;
  background: var(--bg-color-page);
  flex-direction: row;
}

.card__like-button:focus,
.save__button:focus,
.dialog__button:focus {
  transition: box-shadow var(--transition-smooth);
  box-shadow: 2px 2px 0 var(--color-primary);
  outline: none;
}

.dialog__button:hover {
  color: var(--bg-color-page);
  background: var(--txt-color);
}

.card__like-button:hover::before,
.save__button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}

.card__like-button::before,
.save__button::before,
.dialog__button::before {
  z-index: 0;
  transform: translateX(-100%);
  background-color: var(--color-primary);
  position: absolute;
  transition: transform 0.5s ease-in-out;
  inset: 0;
  content: "";
}

.card__like-button:hover .button__text,
.save__button:hover .button__text,
.dialog__button:hover .button__text {
  transition: color var(--transition-fast);
  color: var(--bg-color-page);
}

.dialog {
  display: grid;
  grid-template-areas:
    "icon content"
    "controller controller";
  grid-template-columns: auto 1fr;
  gap: 30px;
  border: var(--brdr-width) solid var(--txt-color);
  color: var(--txt-color);
  font-family: var(--font-family-accent), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--bg-color-page);
  max-inline-size: 355px;
  padding: 30px;

  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-smooth), visibility var(--transition-smooth);
}

.dialog__button {
  position: relative;
  overflow: hidden;
  border: var(--brdr-width) solid var(--color-primary);
  background: transparent;
  color: var(--txt-color);
  transition: box-shadow var(--transition-smooth);
  inline-size: 100%;
  height: 38px;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 17px;
  transition: background-color var(--transition-fast);
}

.dialog[open] {
  opacity: 1;
  visibility: visible;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 75%);
}

.dialog__icon {
  grid-area: icon;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  grid-area: content;
  align-self: center;
  justify-self: start;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.dialog__controller {
  grid-area: controller;
}

@media (width < 380px) {
  .save__button {
    flex-direction: column;
    align-items: center;
  }
}